* {
	padding: 0;
	margin: 0;
}

body {
	font 12px/180% Arial,
	Helvetica,
	sans-serif,
	"新宋体";
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.contaner {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.contaner .first-title {
	font-family: "楷体", "微软雅黑";
	margin: 20px auto;
	font-size: 20px;
	text-shadow: 3px 3px 3px #1F6377;
}

.contaner .first-text {
	font-family: "楷体", "微软雅黑";
	margin: 20px auto;
	font-size: 0.2em;
	color: #fff;
}

.photo {
	width: 155px;
	height: 155px;
	margin: 10% auto 0;
}

.photo>img {
	width: 155px;
	height: 155px;
	border-radius: 155px;
}

.contaner>p {
	margin: 20px auto;
	color: #fff;
	max-width: 500px;
}

.contaner .first-nav-wrap .first-nav {
	margin: 20px 0;
	display: inline-block;
	overflow: hidden;
	font-size: 0.2em;
	transform: translateX(-20px);
}

.contaner .first-nav-wrap .first-nav .first-nav-item {
	float: left;
	margin-left: 20px;
	color: #fff;
}

.display {
	widows: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

.display .works {
	width: 400px;
	height: 200px;
	border: 50px solid #000000;
	border-image: url(../img/border-img.jpg) 80 80 stretch;
}

.display .works img {
	width: 100%;
	height: 100%;
}
#third-slide{
	width: 100%;
	height: 100%;
}
.third-wrap1 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap2 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap3 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap4 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.txt-rjch {
	width: 35%;
	overflow: hidden;
	padding-left: 10%;
	padding-top: 10%;
	box-sizing: border-box;
	font-family: "楷体", "微软雅黑";
	letter-spacing: 2px;
}

.txt-rjch p {
	width: 33%;
	font-size: 0.28rem;
	writing-mode: tb;
	float: left;
	box-sizing: border-box;
	color: #333333;
	font-weight: bolder;
	text-shadow: 2px 2px 5px lightgoldenrodyellow;
}

.txt-rjch .p2 {
	font-family: "微软雅黑";
}

.txt-rjch .p3 {
	text-align: center;
	padding-top: 30%;
	font-size: 0.25rem;
}

.txt-content {
	position: absolute;
	
	left: 50%;
	top: 50%;
	transform: translate(-20%, -50%);
	font-size: 0.3rem;
	line-height: 50px;
	font-weight: bolder;
	letter-spacing: 4px;
	font-family: '楷体', "微软雅黑";
	text-align: start;
}
