* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 0.28rem;
	Helvetica,
	sans-serif,
	"新宋体";
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.contaner {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.contaner .first-title {
	font-family: "楷体", "微软雅黑";
	margin: 20px auto;
	font-size: 0.2rem;
	text-shadow: 3px 3px 3px #1F6377;
}

.contaner .first-text {
	font-family: "楷体", "微软雅黑";
	margin: 20px auto;
	font-size: 0.25rem;
	color: #fff;
}

.photo {
	width: 155px;
	height: 155px;
	margin: 10% auto 0;
}

.photo>img {
	width: 155px;
	height: 155px;
	border-radius: 155px;
}

.contaner>p {
	margin: 20px auto;
	color: #fff;
	width: 50%;
}

.contaner .first-nav-wrap .first-nav {
	margin: 20px 0;
	display: inline-block;
	overflow: hidden;
	font-size: 0.2rem;
	transform: translateX(-20px);
}

.contaner .first-nav-wrap .first-nav .first-nav-item {
	float: left;
	margin-left: 20px;
	color: #fff;
}

.display {
	widows: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

.display .works {
	width: 400px;
	height: 250px;
	border: 50px solid #000000;
	border-image: url(../img/border-img.jpg) 80 80 stretch;
}

.display .works img {
	width: 100%;
	height: 100%;
}

.third-wrap1 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap2 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch11.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap3 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.third-wrap4 {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/rjch4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.txt-rjch {
	width: 35%;
	overflow: hidden;
	padding-left: 10%;
	padding-top: 10%;
	box-sizing: border-box;
	font-family: "楷体", "微软雅黑";
	letter-spacing: 2px;
}

.txt-rjch p {
	width: 33%;
	font-size: 0.28rem;
	writing-mode: tb;
	float: left;
	box-sizing: border-box;
	color: #333333;
	font-weight: bolder;
	text-shadow: 2px 2px 5px lightgoldenrodyellow;
}

.txt-rjch .p2 {
	font-family: "微软雅黑";
}

.txt-rjch .p3 {
	text-align: center;
	padding-top: 30%;
	font-size: 0.25rem;
}

.txt-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-20%, -50%);
	font-size: 0.3rem;
	line-height: 50px;
	font-weight: bolder;
	letter-spacing: 4px;
	font-family: '楷体', "微软雅黑";
	text-align: start;
}

.lvjing {
	width: 100%;
	height: 100%;
	background-color: #1B6D85;
	font-size: 0.2rem;
	padding: 90px 0;
}

#home h1 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 25px;
}

#home p {
	font-weight: 400;
	line-height: 35px;
}

#home img {
	margin-top: 30px;
	display: inline-block;
}


/*bbs*/

#bbs {
	padding: 80px 0;
	text-align: center;
}

#bbs .col-md-4 {
	padding: 15px;
}

#bbs .col-md-4:hover {
	background: #f1f1f1;
	box-shadow: 1px 1px 4px #ccc;
}

#bbs a {
	color: #212121;
	text-decoration: none;
}

#bbs img {
	margin: 0 auto;
}

#bbs h3 {
	font-weight: bold;
}


/*HTML5 + bootstrap*/

#html5 {
	background: #f8f8f8;
}

#html5,
#bootstrap {
	padding: 80px 0;
}

#html5 h2,
#bootstrap h2 {
	font-weight: bold;
}

#html5 p,
#bootstrap p {
	line-height: 25px;
}


/*course*/

#course {
	background: #f8f8f8;
	padding: 80px 0;
	text-align: center;
}

#course h2 {
	font-weight: bold;
	padding-bottom: 60px;
}

#course .col-md-3 {
	margin-bottom: 20px;
}

.course {
	background: #ffffff;
}

#course .btn {
	background: transparent;
	border: 1px solid #40D2B1;
	border-radius: 0px;
	color: #40D2B1;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 8px 40px;
	transition: all 0.3s;
}

#course .btn:hover {
	background: #40D2B1;
	color: #fff;
}


/*app*/

#app {
	padding: 80px 0;
}

#app h2 {
	font-weight: bold;
	padding-bottom: 30px;
}

#app .btn {
	margin: 10px 0;
	background: rgb(64, 210, 177);
	border-color: rgb(64, 210, 177);
	border-radius: 0;
	padding: 6px 30px;
	transition: all 0.3s;
}

#app .btn:hover {
	background: rgb(44, 142, 120);
}


/*contact*/

#contact {
	background: url("../images/contact-bg.png") no-repeat;
	background-size: cover;
	color: #ffffff;
}

#contact h2 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 25px;
}

#contact p {
	line-height: 25px;
	margin-bottom: 20px;
}

#contact .form-control {
	border: none;
	border-radius: 0;
	height: 50px;
	margin-bottom: 20px;
}

#contact textarea.form-control {
	height: auto;
}

#contact input[type="submit"] {
	background: #40D2B1;
	color: #fff;
	font-weight: bold;
	transition: all 0.3s;
}

#contact input[type="submit"]:hover {
	background: rgb(44, 142, 120);
}
