*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none; 
  -moz-user-select: none;    
  -khtml-user-select: none;  
  -ms-user-select: none;    

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: none;
  user-select: none;  
}
body{
	text-align: center;
}
canvas{
	width: 600px;
	height: 600px;
	border: 1px solid #000;
}